<p>
  timeline works!
</p>
<p>
  {{today}}
</p>

<div class="container-fluid timeline">
  <div class="row">
    <button type="button"
            class="btn btn-outline-primary pull-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button type="button" (click)="nextClick()"
            class="btn btn-outline-primary pull-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th [style.width.px]="widthColumn">room id</th>
        <th *ngFor="let day of days" [style.width.px]="widthColumn">{{day | date}}</th>
      </tr>
      <tr *ngFor="let room of rooms">
        <td>{{room}}</td>
        <td *ngFor="let day of days">{{day}}</td>
      </tr>
      </thead>
    </table>
  </div>
</div>
